.logo {
  width: 40px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.pop-up{
  width: 250px;
}
.text-sm{
  font-size: 12px;
}
/* header{
  top: 0;
  position: sticky;
  z-index: 5;
} */